{%- macro header(params) -%}
  {%- from '../border/border.njk' import border %}
  {{ border() }}

  <header responsive-layout responsive-layout-type="spread-out" responsive-layout-centered>
    {%- from '../title/title.njk' import title %}
    {{ title() }}
  
    {%- from '../nav/nav.njk' import nav %}
    {{ nav({ tags: params.tags }) }}
  </header>
{%- endmacro -%}
