/**
 * Fonts
 *
 * All non-standard fonts are declared here.
 */

@font-face {
  font-family: Shrikhand;
  src: url(/fonts/shrikhand/Shrikhand-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: RobotoMono;
  src: url(/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/montserrat/Montserrat-Thin.ttf);
  font-weight: 50;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/montserrat/Montserrat-ExtraLight.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/montserrat/Montserrat-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/montserrat/Montserrat-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/montserrat/Montserrat-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url(/fonts/montserrat/Montserrat-Bold.ttf);
  font-weight: 600;
}
