
.note {
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 0.3em;
  border: 1px solid silver;
  background-color: #f5f2f0;
  color: #000;
}

.note-heading {
  font-style: italic;
  padding-top: 1rem;
  text-align: center;
}

