/**
 * Typography
 *
 * Fonts and sizes of all textual elements.
 */

body,
h1,
h2,
h3,
h4,
p,
a,
li {
  text-decoration: none;
  font-weight: 400;
  font-family: "Montserrat", "Arial", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
a {
  line-height: 1.5;
}

li {
  line-height: 1.75;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2 {
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  font-size: 1.25rem;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 500;
}

a {
  color: black;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.link:after {
  content: " →";
}

pre {
  padding: 0.5rem;
  margin: 0.5rem;
}

a[href~="mermaid"] {
  height: 500px;
}

hr {
  width: 3rem;
  height: 0px;
  border-bottom: solid 1px #000;
  display: block;
  margin: 2rem 0;
  padding: 0;
  border-top: 0;
}

blockquote {
  border-left: solid 1rem silver;
  padding: 0.125rem 0 0.125rem 1rem;
}

blockquote p {
  padding: 0;
}

.pull-quote {
  font-size: 1.125rem;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  border-left: solid 0.5rem black;
}

.pull-quote p {
  margin: 0;
}