{%- macro article(params) -%}  
  <article>
    <div class="article-header">
      <h2>{{ params.title }}</h2>

      <p class="article-date">{{ params.date | readablePostDate }}</p>

      <div class="article-main-image-container">
        <img
          class="article-main-image"
          src="{{ params.imageUrl }}"
        />
      </div>
    </div>

    <div class="article-content">

      <p class="article-blurb">
        {{ params.blurb | safe }}
      </p>

      {{ params.content | safe }}

      <hr />
    </div>
  </article>
{%- endmacro -%}
