{%- macro client(params) -%}
  <div class="client" responsive-layout responsive-layout-spacing="medium">
    <div class="client-details">
      <h4><a href="{{ params.data.clientUrl }}">{{ params.data.clientName }}</a></h4>

      <small>{{ params.data.clientDates }}</small>

      {{ params.templateContent | safe }}

      <small class="tech">
        Tech:&nbsp;
        {%- for tech in params.data.techs -%}
          {{ tech  }}
          {% if not loop.last %}
            •
          {% endif %}
        {%- endfor -%}
      </small>
    </div>

    <div class="client-screencast">
      <figure>
        <a target="_blank" href="{{ params.data.screencastUrl }}">
          <img src="{{ params.data.screencastUrl }}"/>
        </a>

        <figcaption>{{ params.data.screencastAlt | safe }}</figcaption>
      </figure>
    </div>
  </div>
{%- endmacro -%}
