/**
 * Body
 *
 * Common container of each webpage.
 */

html {
  background-color: #777777;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 50rem;
  background-color: white;
  box-shadow: 0rem 0rem 2rem #333333;
}

@media screen and (max-width: 49.999rem) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 50rem) {
  body {
    width: 95%;
  }
}

.body {
  overflow: hidden;
}
