---
layout: layout.njk
---

<br />

{%- from '../components/article-list-item/article-list-item.njk' import articleListItem %}
<div layout layout-direction="vertical">
  {%- for article in collections.article | reverse -%}
    {{ articleListItem(article) }}
  {%- endfor -%}
</div>
