/**
 * Figure
 * 
 * An image (diagram, wireframe, screenshot, photo, etc.) with associated textual caption.
 */

figure {
  padding: 1rem;
}

figure figcaption {
  margin-top: 1rem;
  font-size: 0.8rem;
}

figure figcaption:before {
  content: "▲ ";
}
