.article-list-item {
}

.article-list-item-title {
  margin-bottom: 0.25rem;
}
.article-list-item-title a {
  font-weight: 500;
}

.article-list-item-date {
  text-transform: uppercase;
  color: gray;
}

.article-list-item-blurb {
}
