/**
 * Title
 *
 * Top-level heading of the whole website, depicted as a logo.
 */


.title {
}


/**
 * ProfilePhoto
 */

.title-profile-photo {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  border: solid 0.125rem silver;
  background-color: black;
  padding: 0.125rem;
}

/**
 * Logo
 */

.title-logo {
  font-size: 0.9rem;
}

.logo-link {
  position: relative;
  display: inline-block;
  color: transparent;
  font-weight: bold;
}

.logo-link:hover,
.logo-link:focus,
.logo-link:active {
  text-decoration: none;
}

.logo-link,
.logo-layer {
  font-family: 'Shrikhand';
  font-size: 2rem;
}

.logo-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.logo-layer:nth-child(1) {
  z-index: 4;
  left: -0.0625rem;
  top: -0.0625rem;

  background: #804FFF;
  background: linear-gradient(0deg, #804FFF 0%, #059FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-layer:nth-child(2) {
  z-index: 3;
  left: 0.0625rem;
  top: 0.0625rem;

  background: #F8BA2B;
  background: linear-gradient(0deg, #FBDC34 0%, #F8BA2B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-layer:nth-child(3) {
  text-shadow: 0.125rem 0.125rem 0.5rem silver;
  z-index: 2;
  left: 0rem;
  top: 0rem;
}