{%- macro title() -%}
  <div class="title" layout layout-centered>
    <img
      class="title-profile-photo"
      src="/components/title/profile-photo.jpg"
    >
    
    <h1 class="title-logo">
      <a class="logo-link" href="/">
        conwy
        <b class="logo-layer">conwy</b>
        <b class="logo-layer">conwy</b>
        <b class="logo-layer">conwy</b>
      </a>
    </h1>
  </div>
{%- endmacro -%}

