.table,
.table tr,
.table th,
.table td {
  border: solid 1px var(--border-1);
}

.table th {
  text-transform: uppercase;
  color: var(--label-color);
  white-space: nowrap;
  font-size: 0.6rem;
}

.table th,
.table td {
  padding: 0.25rem 0.5rem;
}

.table td {
  font-size: 0.875rem;
}
