@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("react-tooltip/dist/react-tooltip.css");

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div,
a,
input,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
select {
  font-family: "Montserrat";
}
