/**
 * Box
 *
 * Rectangular container with various standard paddings.
 */

[box] {
  box-sizing: border-box;
}


/**
 * Padding
 */

/** Type: Small (default) */

[box],
[box][box-padding],
[box][box-padding="small"] {
  padding: 1rem;
}

/** Type: Medium */

[box][box-padding="medium"] {
  padding: 2rem;
}

/** Type: Large */

[box][box-padding="large"] {
  padding: 3rem;
}

