{%- macro footer(params) -%}
  <footer>
    <p>
      <small>
        &copy; Jonathan Conway 2021-2023.
      </small>
    </p>
    <p>
      <small class="acknowledgement">
        I wish to acknowledge the Traditional Custodians of the land on which I work and gather with others. I pay respect to Elders - past, present and emerging - and recognise their ongoing connection to this beautiful country, with knowledge and stories that have been handed down since time immemorial.
      </small>
    </p>
  </footer>
{%- endmacro -%}
