{%- macro footer(params) -%}
  <footer>
    <p>
      <small>
        &copy; Jonathan Conway 2021-2023.
      </small>
    </p>
    <p>
      <small class="acknowledgement">
        I acknowledge the Traditional Owners of the lands on which I live, the Eora peoples, and recognise their enduring connection to land, waters, and culture. I pay my respects to their elders, past and present. 
      </small>
    </p>
  </footer>
{%- endmacro -%}
