/**
 * Footer
 * 
 * Bottom section of the page, with copyright and acknowledgements.
 */

footer {
  padding-top: 1rem;
  background-image: url("/acknowledgement.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0 3rem 6rem 3rem;
  margin: 0 -3rem -3rem -3rem;
}

.acknowledgement {
  color: #5450a7;
}
