{%- macro border() -%}
  <div class="border">
    <b class="border-part"></b>
    <b class="border-part"></b>
    <b class="border-part"></b>
    <b class="border-part"></b>
  </div>
{%- endmacro -%}
