

[layout] {
  display: flex;
  overflow: auto;
  flex: 1;
}


/**
 * Type
 */

[layout][layout-type] {
}

/** Type: Flow (default) */

[layout], [layout][layout-type="flow"] {
}

/** Type: Equal */

[layout][layout-type="equal"] {
}

[layout][layout-type="equal"] > * {
  flex: 1;
}

/** Type: Shrink-Grow */

[layout][layout-type="shrink-grow"] {
}

[layout][layout-type="shrink-grow"] > *:not([layout-grow]) {
  flex: unset;
}

[layout][layout-type="shrink-grow"] > [layout-grow] {
  flex: 1;
}

/** Type: Spread-Out */

[layout][layout-type="spread-out"] {
  justify-content: space-between;
}

[layout][layout-type="spread-out"] > * {
  white-space: nowrap;
}

/**
 * Direction
 */

[layout][layout-direction] {

}

/** Direction: Horizontal (default) */

[layout], [layout][layout-direction="horizontal"] {
  flex-direction: row;
}

/** Direction: Vertical */

[layout][layout-direction="vertical"] {
  flex-direction: column;
}

/**
 * Centered
 */

[layout][layout-centered],
[layout][layout-centered][layout-direction="horizontal"] {
  align-items: center;
}

[layout][layout-centered][layout-direction="vertical"] {
  justify-items: center;
}


/**
 * Spacing
 */

/** Spacing: X-Small */

[layout][layout-direction="vertical"][layout-spacing="x-small"] > *:not(:last-child) {
  margin-bottom: .5rem;
}

[layout][layout-direction="horizontal"][layout-spacing="x-small"] > *:not(:last-child) {
  margin-right: .5rem;
}

/** Spacing: Small (default) */

[layout] > *:not(:last-child),
[layout][layout-direction="vertical"] > *:not(:last-child),
[layout][layout-direction="vertical"][layout-spacing="small"] > *:not(:last-child) {
  margin: 0;
  margin-bottom: 1rem;
}

[layout] > *:not(:last-child),
[layout][layout-direction="horizontal"] > *:not(:last-child),
[layout][layout-direction="horizontal"][layout-spacing="small"] > *:not(:last-child) {
  margin: 0;
  margin-right: 1rem;
}

/** Spacing: Medium */

[layout][layout-direction="vertical"][layout-spacing="medium"] > *:not(:last-child),
[layout][layout-direction="vertical"] > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

[layout][layout-direction="horizontal"][layout-spacing="medium"] > *:not(:last-child),
[layout][layout-direction="horizontal"] > *:not(:last-child) {
  margin-right: 1.5rem;
}

/** Spacing: Large */

[layout][layout-direction="vertical"][layout-spacing="large"] > *:not(:last-child) {
  margin-bottom: 2rem;
}

[layout][layout-direction="horizontal"][layout-spacing="large"] > *:not(:last-child) {
  margin-right: 2rem;
}

/** Spacing: X-Large */

[layout][layout-direction="vertical"][layout-spacing="x-large"] > *:not(:last-child) {
  margin-bottom: 3rem;
}

[layout][layout-direction="horizontal"][layout-spacing="x-large"] > *:not(:last-child) {
  margin-right: 3rem;
}
















