/**
 * Nav
 *
 * Short list of top-level links to the major areas of the website.
 */

.nav a {
  color: black;
}

.nav a.active {
  color: #fd9326;
  font-weight: normal;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  color: #fd9326;
}
