{%- macro nav(params) -%}
  <div class="nav">
    {%- for navItem in [
        { key: 'home',     path: '',         label: 'home' },
        { key: 'articles', path: 'articles', label: 'articles' },
        { key: 'work',     path: 'work',     label: 'work' },
        { key: 'contact',  path: 'contact',  label: 'contact' }
        ]
    -%}
      {% if params.tags.includes(navItem.key) %}
        <strong>{{ navItem.label }}</strong>
      {% else %}
        <a href="/{{ navItem.path }}">{{ navItem.label }}</a>
      {% endif %}

      {% if not loop.last %}
        <span class="nav-divider"> • </span>
      {% endif %}
    {%- endfor -%}
  </div>
{%- endmacro -%}
