/**
 * Nav
 *
 * Short list of top-level links to the major areas of the website.
 */

.nav {
  strong {
    color: #fd9326;
    font-weight: normal;
  }

  a {
    color: black;

    &:hover,
    &:focus,
    &:active {
      color: #fd9326;
    }
  }
}
